!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Zarobki GD
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    /= javascript_include_tag "https://www.gstatic.com/charts/loader.js"
    = javascript_include_tag 'application'
  %body
    .ui.fixed.inverted.menu
      .ui.container
        %a.header.item{:href => "/"}
          Zarobki w GD
        %a.item{href: new_entry_path} Dodaj wpis
    .ui.main.container
      - if notice.present?
        .ui.message
          .header Information
          %p#notice= notice
      = yield    
      %br
      %br
      %br
      %br
      &nbsp;
